.content {
  width: 50%;
  margin: 100px auto 100px auto;
}
.description {
  line-height: 1.5;
}
.animation-left {
  height: 200px;
  width: 200px;
  float: left;
}
.animation-right {
  height: 200px;
  width: 200px;
  float: right;
}

.image {
  border-radius: 50px;
  width: 200px;
  height: 200px;
  height: 200px;
}
.contentbox {
  width: 50%;
  margin: 20px auto 20px auto;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .contentbox {
    width: 100%;
    margin: 20px auto 20px auto;
    text-align: center;
  }
}
